.highlight__button {
  background-color: $white;
  color: $taupe-gray;
  padding: 0.5em 2.5em;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 50px;
  font-weight: $bold;
  font-size: $large;
  align-content: center;
  border: solid 1px $granite-gray;
  margin-bottom: 2em;
}
